/*Font Family*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
li,
input {
    font-family: 'Raleway', sans-serif !important;
}


/*general style*/
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.white-text {
    color: #ffffff;
}

.m-0 {
    margin: 0px !important;
}

.custom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 15px;
}

.mt-5-desktop {
    margin-top: 5rem;
}

.custom-column-4 {
    max-width: 40%;
}

/*Header style*/
.header-grid-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-header {
    background-color: #3C3B3A;
}

.current-item {
    font-weight: bold;
}

.logo-img-fluid {
    width: 25%;
    max-width: 100%;
    height: auto;
}

.list-main-menu {
    display: flex;
    list-style-type: none;
}

.menu-item {
    margin: 0 20px;
}

.menu-item a {
    text-decoration: none;
    font-size: 17px;
    color: #ffffff;
}

/*Home Page*/
.feature-details h1 {
    font-size: 55px;
}

.description-frature {
    font-size: 20px;
}

.feature-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}

.icons-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-label {
    color: #26A682;
    margin: 15px 0px;
}

.tablet-style {
    width: 100%;
    display: flex;
    align-items: center;
}

.icon-custom-img-fluid {
    max-width: 50%;
}

.feature-img-fluid {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.custom-column-6 {
    max-width: 50%;
    min-width: 50%;
}

.scrolling {
    text-align: center;
}

.scrolling p {
    margin: 0px;
}

.scrolling img {
    transform: rotate(180deg);
    width: 40px;
}

.custom-row-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0px 15px;
}

.details-section2 {
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.details-section2 h1 {
    margin: 0px;
    font-size: 30px;
}

.green-text {
    color: #26A682;
    font-size: 25px;
}

.description-frature-2 {
    font-size: 16px;
    line-height: 30px;
}

.btn-group {
    display: flex;
    justify-content: end;
}

.primary-btn {
    border-radius: 20px;
    color: #fff;
    background-color: #26A682;
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    box-shadow: 2px 9px 5px -4px rgba(0, 0, 0, 0.57);
    -webkit-box-shadow: 2px 9px 5px -4px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 2px 9px 5px -4px rgba(0, 0, 0, 0.57);
}

.feature-section-2 {
    padding: 70px 0px;
    background-color: #F2F2F2;
}

.custom-row-3 {
    display: flex;
    justify-content: start;
    padding: 0px 15px;
    align-items: center;
}

.circle-image img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 7px solid #ffffff;
}

.feature-section-3 {
    background-color: #3C3B3A;
    padding: 70px 0px;
}

.short-description {
    width: 50%;
    text-align: center;
    color: #fff;
    font-weight: bold;
    line-height: 25px;
}

.fully-description {
    color: #ffffff;
    line-height: 25px;
}

.footer {
    margin-top: 30px;
    background-color: #3C3B3A;
    padding: 15px 0px;
    text-align: center;
    color: #ffffff;
}

.btn-group1 {
    display: flex;
    justify-content: start;
    margin-top: 20px;
}

/*About us page content*/
.about-us .feature-details h1 {
    font-size: 50px;
}

.about-us .about-us-bg {
    background-image: url("../image/about-banner.png");
    min-height: 255px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us .service-bg {
    background-image: url("../image/services-banner.png");
    min-height: 255px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-us .title-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 255px;
}

.about-us .title-banner h1 {
    font-size: 40px;
    color: #ffffff;
}

.about-us .about-us-details-section {
    padding: 70px 10px;
    background-color: #F2F2F2;
}

.about-us .about-us-detials {
    display: flex;
}

.about-us .about-us-item {
    width: 100%;
    margin: 0px 10px;
}

.about-us .note-section {
    background-color: #3C3B3A;
    color: #ffffff;
}

.about-us .note-details {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.about-us .note {
    font-size: 25px;
    margin: 15px 10px;
}

.about-us .title-gellary-section {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
}

.group-img {
    display: flex;
    justify-content: space-between;
}

.gellary-section {
    margin-bottom: 80px;
}

.location-title {
    font-size: 50px !important;
}

.shde {
    font-size: 28px;
}

.contact-info {
    padding: 0px;
    list-style-type: none;
}

.contact-info li {
    padding: 5px 0px;
}

.contact-us form {
    background-color: #26A682;
    padding: 30px 50px;
    border-radius: 20px;
}

.contact-us .custom-row-2 {
    flex-wrap: nowrap;
}

.motivation-contact {
    max-width: 54%;
    width: 100%;
}

.contact-form {
    max-width: 46%;
    width: 100%;
}

.custom-padding {
    padding: 10px;
}

.contaner-form {
    padding-left: 30px;
}

.input-details {
    display: flex;
    flex-direction: column;
    margin: 25px 0px;
}

.input-details label {
    color: #ffffff;
}

.input-details input,
.input-details textarea {
    padding: 15px 20px;
    border-radius: 20px;
    border: none;
    resize: none;
}

.input-details input::placeholder,
.input-details textarea::placeholder {
    color: #3C3B3A;
}
.submite-input{
    display: flex;
    justify-content: end;
}
.submite-input input{
    border-radius: 20px;
    padding: 10px 50px;
    border: none;
    background-color: #3C3B3A;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}
@media only screen and (max-width: 767px) {
    .feature-section .feature-img-fluid {
        margin-top: 25px;
    }

    .logo-img-fluid {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .custom-row {
        display: block;
    }

    .custom-column-4 {
        max-width: 100%;
    }

    .custom-column-6 {
        max-width: 100%;
    }

    .feature-icons {
        flex-wrap: wrap;
    }

    .icons-details {
        width: 50%;
    }

    .feature-image {
        margin-top: 40px;
    }

    .feature-section .primary-btn {
        width: 100%;
    }

    .custom-row-2,
    .custom-row-3 {
        padding: 0px;
    }

    .feature-section-4 .custom-row-2 {
        flex-direction: column-reverse;

    }

    .feature-section-4 {
        margin: 0px !important;
    }

    .footer {
        padding: 0px;
    }

    .custom-row-3 {
        flex-wrap: wrap;
        justify-content: center;

    }

    .fully-description {
        padding: 5px 10px;
    }

    .feature-section-4 .feature-image {
        margin-top: 0px !important;
    }

    .header-grid-type {
        flex-direction: column;
    }

    .list-main-menu {
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .menu-item {
        margin: 15px 10px;
    }

    .tablet-style {
        flex-direction: column;
    }

    /*About us page*/
    .about-us .feature-details h1 {
        font-size: 45px;
    }

    .about-us .about-us-detials {
        flex-wrap: wrap;
    }

    .about-us .details-section2 {
        margin-top: 20px;
    }

    .about-us .feature-image {
        display: none;
    }

    .about-us .mt-5-desktop {
        margin-top: 2rem;
    }

    .about-us .feature-section-2 {
        padding: 10px 0px;
    }

    .note-details {
        flex-direction: column;
    }

    .about-us .note {
        font-size: 22px;
    }

    .about-us .group-img {
        flex-direction: column;
    }

    .group-img img {
        padding: 60px;
    }
    /*contact us page*/
    .contact-us .custom-row-2 {
        flex-direction: column;
    }
    .motivation-contact {
        max-width: 100%;
        width: 100%;
    }
    .contact-form {
        max-width: 100%;
        width: 100%;
    }
    .contaner-form {
        padding: 0px 10px;
    }
    .contact-us .mt-5-desktop {
        margin-top: 1rem;
    }
    .contact-us form {
        padding: 30px 15px;
    }
    .contact-us .feature-section-4{
        margin-top: 40px !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        margin: 0px 70px;
    }

    .feature-details h1 {
        font-size: 76px;
    }

    .feature-section .feature-image {
        display: flex;
        justify-content: center;
    }

    .feature-section .feature-img-fluid {
        margin-top: 25px;

    }

    .feature-section-2 {
        padding-top: 0px !important;
    }

    .custom-row {
        display: block;
    }

    .custom-column-4 {
        max-width: 100%;
    }

    .custom-column-6 {
        max-width: 100%;
    }

    .feature-icons {
        flex-wrap: wrap;
    }

    .icons-details {
        width: 50%;
    }

    .feature-image {
        margin-top: 0px;
    }

    .feature-section-2 .container,
    .feature-section-4 .container {
        margin: 0px !important;
    }

    .details-section2 {
        padding: 30px 70px;
    }

    .feature-section .primary-btn {
        padding: 10px 50px;
        font-size: 35px;
    }

    .btn-group1 {
        justify-content: center;
    }

    .custom-row-2,
    .custom-row-3 {
        padding: 0px;
    }

    .feature-section-4 .custom-row-2 {
        flex-direction: column-reverse;

    }

    .feature-section-4 {
        margin: 0px !important;
    }

    .footer {
        padding: 0px;
    }

    .custom-row-3 {
        flex-wrap: nowrap;
        justify-content: center;
        align-items: start;
    }

    .fully-description {
        padding: 5px 10px;
    }

    .feature-section-4 .feature-image {
        margin-top: 0px !important;
    }

    .menu-item {
        margin: 15px 10px;
    }

    .tablet-style {
        flex-direction: column;
    }

    .feature-section-3 .fully-description {
        font-size: 30px;
        line-height: 30px;
    }

    /*about us page*/
    .about-us .group-img {
        flex-direction: column;
    }

    .group-img img {
        padding: 60px;
    }

    .about-us .about-us-detials {
        flex-wrap: wrap;
    }

    .about-us .custom-row-2 {
        flex-wrap: nowrap;
    }

    .about-us .feature-section-4 .custom-row-2 {
        flex-direction: row;
    }

    .about-us .flexbox {
        padding: 50px;
    }

    .about-us .details-section2 {
        padding: 0px 70px;
    }

    .contact-us .feature-section-4 .custom-row-2 {
        flex-direction: column;
    }
    .contact-us .custom-row-2 {
        flex-direction: column;
    }
    .motivation-contact {
        max-width: 100%;
        width: 100%;
    }
    .contact-form {
        max-width: 100%;
        width: 100%;
    }
}